.admin-mihan-ticket
{
    .mwtc_wrapper .sidebar
    {
        .items-wrapper .item .status,
        .search-result .item .status
        {
            float:right;
        }
    }
    .mihanticket-alerts-wrapper
    {
        left:20px;
        right:auto;
    }
}