.pv-chat-widget-wrap {
    margin: 30px auto 30px auto;
}

.pv-bot-helper-text {
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 15px;
}

.pv-chat-contents {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 10px;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.pv-chat-contents::-webkit-scrollbar {
    width: 3px;
    border-radius: 50px;
}

.pv-chat-contents::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
}

#pv-send-message-form > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

#pv-send-message-form.is-locked {
    opacity: .6;
    pointer-events: none;
    user-select: none;
}

.pv-chat-widget-wrap #pv-send-message-form textarea {
    height: 57px;
    max-height: 300px;
    padding: 4px;
    resize: vertical;
    margin: 0;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    font-size: 15px;
    border-radius: 7px;
    line-height: normal;
}

#pv-send-message-form button svg {
    width: 27px;
    height: 27px;
    fill: #00BCD4;
    transform: rotate(-90deg);
    transition: all .15s;
}

.pv-chat-widget-wrap.is-ltr #pv-send-message-form button svg {
    transform: rotate(90deg);
}

#pv-send-message-form button {
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    cursor: pointer;
    transition: ease-in-out .15s;
}

#pv-send-message-form.is-locked button svg,
.pv-chat-widget-wrap.is-ltr #pv-send-message-form.is-locked button svg {
    transform: rotate(180deg);
}

#pv-send-message-form.is-locked button {
    animation: pvChatBtnfloat 2s ease-in-out infinite;
}

@keyframes pvChatBtnfloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.pv-chat-list .pv-chat-item {
    display: flex;
    flex-wrap: wrap;
}

.pv-chat-list .pv-chat-item pre {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    direction: ltr;
    text-align: left;
    color: #333;
}

.pv-chat-list .pv-chat-bot-item {
    justify-content: end;
}

.pv-chat-widget-wrap .is-ltr .pv-chat-list .pv-chat-bot-item {
    justify-content: start;
}

.pv-chat-widget-wrap .pv-chat-list .pv-chat-item:not(:last-child) {
    margin-bottom: 20px;
    width: 100%;
}

.pv-chat-list .pv-chat-item .pv-chat-text {
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    color: #333;
    display: inline-block;
}

.pv-chat-list .pv-chat-user-item .pv-chat-text {
    background-color: #00bcd4;
    color: #fff;
}

.pv-chat-list .pv-chat-user-item .pv-chat-text p {
	color: #fff;
}

.pv-chat-list .pv-chat-item .pv-chat-text p {
    margin: 0;
}

.mihanticket .pv-chat-widget-wrap ul.pv-chat-list li.first-chat-item {
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 7px;
    font-size: 16px;
    color: #333;
}

.pv-chat-toast {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #4a6dfe;
    padding: 9px;
    color: #fff;
    font-size: 15px;
    transition: ease .15s;
}

.pv-chat-toast p {
    text-align: center;
    margin: 0;
}

.pv-chat-toast[type=error] {
    background-color: #f31b1b;
}

.pv-chat-toast[type=success] {
    background-color: #54a96e;
}

.support-from-ai {
    text-align: center;
    margin-bottom: 15px;
    color: #a9a9a9;
    font-size: 15px;
}

.support-from-ai a {
    color: #04b4cc;
}

.pv-chat-item.pv-chat-loading .pv-chat-content,
.pv-chat-item.pv-chat-loading .pv-chat-text {
    width: 100%;
    height: 60px;
}

.pv-chat-item.pv-chat-loading .pv-chat-text {
    background: linear-gradient(270deg, #e1e1e1, #f9f9f9);
    background-size: 400% 400%;
    -webkit-animation: pvItemBgAnimation 1.1s ease infinite;
    -moz-animation: pvItemBgAnimation 1.1s ease infinite;
    animation: pvItemBgAnimation 1.1s ease infinite;
}

@-webkit-keyframes pvItemBgAnimation {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

@-moz-keyframes pvItemBgAnimation {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

@keyframes pvItemBgAnimation {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

@media screen and (min-width: 1200px) {
    .pv-chat-widget-wrap {
        width: 90%;
        margin: 30px auto 10px auto;
    }
}